// Be sure to import normalize.  i've included a normal.scss file but this has issues with foundation
// so you can use the _normalize.scss file that come with foundation and comment out the line below

// comment this line if using a different _normalize.scss file in your project
//@import "normalize";

@mixin components_default_a{
    color:#007ac2;
    text-decoration:none;
}

.content-panel{
	margin-bottom:25px;
}
.feature-box{

	border:1px solid #dcdcdc;
    h2{
        background-color:#efefef;
        font-size:1.4rem;
        margin:0 15px;
        font-family: 'Lato', sans-serif;
        font-weight:300;
        padding:8px 10px;
        margin:0 0 20px 0;
    }
    h3{
        background:#efefef;
        padding:15px 10px;
        font-size:1.2rem;
        font-weight:normal;
    }
    h4{
        font-weight:bold;
        font-style:normal;
        color:#000;
        font-size:1.1rem;
        padding:10px;
        line-height:1.5rem;
    }
    p{
        padding-left:10px;
        padding-right:10px;
    }
    ul{
        color:#007ac2;
        margin:20px 15px 15px 5px;
    }
    a{
        @include components_default_a;

        &:visited{
            @include components_default_a;
        }
        &:hover {
            text-decoration:underline;
        }
    }
}


.feature-box-highlight{
	background-color:#d7f3ff;
	color:#000;
	padding:8px inherit;
}
